body{
	opacity:0.2;

}

.menu1, .menu2{
	width:100%;
	position: absolute;
	top:-10px;
	left:0px;
	z-index: 30;
	background: blu;
	text-align:center;
}
.fa:hover{
	cursor: pointer;
}
.menu2{
	display:none;
}
.menu1 .fa-bars{
	font-size:40px;
	color:#fff;
}
.menu2 .fa-times{
	font-size:40px;
	color:#fff;
	
}


.carousell{
	width:100%;
	height: 100%;
	background:green;
	position: fixed;
	top:0;
	left:0;
	overflow: hidden;
}

.slideshow{
	position:relative;
	max-width:100%;
	height:100%;
	background-image:url(pexels-photo-169738.jpeg);
	background-position: center;
	background-size:cover;
	-webkit-transition:all 3s ease-in-out;
    -moz-transition:all 3s ease-in-out;
    -o-transition:all 3s ease-in-out;
    -ms-transition:all 3s ease-in-out;
    transition:all 3s ease-in-out;
}

.tooltip{
	position:absolute;
	background:yello;
	top:40%;
	left:20%;
	width: 60%;
	text-align: center;
	color: #fff;
	font-size:17px;
}

.container{
	position: absolute;
	top:70%;
	left:0px;
	width:100%;
	margin:auto;
	
}


.container .options{
	padding:1%;
	max-width:470px;
	margin:auto;
	border-top:1px solid #6e6e6f;
	backgroun: #343256;
}
/*for the flip buttons*/
/* basic menu styles */
.block-menu {
	display: block;
	margin-top:-1%;
	margin-left:-10px;
}

.block-menu li {
	display: inline-block;
	margin-right: 5%;
	margin-left: -500px;
	opacity: 0.2;
	border-radius:4px;
}
#about{margin-left:-40px;}
.block-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-family: 'Passion One', Arial, sans-serif;
	font-smoothing: antialiased;
	text-transform: uppercase;
	overflow: visible;
	font-size: 80%;
	padding: 15px 10px;
	box-shadow: 5px 5px 5px #211e1e;
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
	border-radius:4px;
	background:;
}

/* animation domination */
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;

}

/* 
	put the "front" and "back" elements into place with CSS transforms, 
	specifically translation and translatez
*/
.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:rgb(183, 182, 182);
	padding: 15px 10px;
	color: black;
	pointer-events: none;
	box-sizing: border-box;
	border-radius:4px;
}
.back{background:black;color:white;} /*end flip style*/


.slidedowncont{
	display:none;
	background-color:black;
	background-image:url(images/9e9ce49716b0cac8400d944e981ac151.jpg);
	background-position: center;
	background-size:cover;
	color:white;
	width:100%;
	height: 100%;
	position:fixed;
	overflow: auto;
	top:0;
	left:0;
}


.slidedown {
	width:100%;
	margin-left:;
	height:100%;
    padding:30px 0px;
    position:relative;
    background-color:gre;
}
.slidedown li{
	list-style-type: none;
	padding: 1%;

}

.slidedown ul a{
	color:#a2a0a0;
	text-decoration:none;
	-webkit-transition:2s ease-in-out;
	-moz-transition:2s ease-in-out;
	-ms-transition:2s ease-in-out;
	-o-transition:2s ease-in-out;
	transition:2s ease-in-out;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 3px;
}

.slidedown ul a:hover{
  -webkit-transition:0.1s ease-in-out;
  color:#fff;
}

.slidedown .socials{
	background-color:;
	width:80%;
	margin: auto;
}
.slidedown .socials a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
  margin-right: 2%;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.slidedown .socials .fa {
  padding:10px;
  display: inline-block;
  font-size:30px;
  text-align: center;
  border-radius: 50%;
}

.socials a:hover{ 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
	color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-google-plus-official {
  background: #dd4b39;
  color: white;
}

@media screen and (max-width:700px ){
	.container .options{max-width: 350px;}
	.block-menu li a {font-size:60%;padding:;}
	.block-menu li {margin-right:1%;}
}
@media screen and (max-width: 480px) {
	.slidedown .socials a{margin-right:0%;}
}
@media screen and (max-width: 430px){
	.slidedown .socials .fa {font-size: 20px;padding:5px;}
	.slidedown .socials a{width:30px;height: 30px;}
}
@media screen and (max-width: 414px){
	.slidedown ul a{font-size:20px;}
	
}
